.footer {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    color: #333;
    border-top: 1px solid #ddd;
}

.footer p {
    margin: 5px 0;
    font-size: 1rem;
}

.socials {
    display: flex;align-items: center;justify-content: center;gap: 1rem;
}

.socials a{
    text-decoration: one;
    font-size: 18px;
    color: #ff0000;
    /* color: #fd407f; */
}

@media (max-width: 768px) {
    .footer {
        padding: 15px;
    }

    .footer p {
        font-size: 0.9rem;
    }
}