.adjectives-section {
    text-align: center;
    margin: 40px 0;
  }
  
  .you-are-text {
    font-size: 2rem;
    color: #ff69b4;
  }
  
  .adjective {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 2.2rem;
    color: #ff85c1;
    display: inline-block;
  }
  
  .cursor {
    display: inline-block;
    font-size: 2.2rem;
    color: #ff85c1;
    margin-left: 2px;
    animation: blink 0.7s steps(1) infinite;
  }
  
  /* Анимация мигающего курсора */
  @keyframes blink {
    50% {
      opacity: 0;
    }
  }
  